@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"); 
*{
    font-family: Georgia;
    color: #131313;
    background-color: #fff
}
.center{
    text-align: center;
}
.spacing-16{
    padding: 16px;
}