@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
#story {
  font-family: Georgia;
  color: #131313;
  background-color: #fff;
}
.center {
  text-align: center;
}
.spacing-16 {
  padding: 16px;
}

::-moz-selection {
  /* Code for Firefox */
  background: rgba(238, 255, 0, 0.603);
  border-radius: 5px;
}

::selection {
  background: rgba(238, 255, 0, 0.603);
  border-radius: 5px;
}

#ui-dialog-body,
#ui-dialog-title {
  color: #fff;
}

.audio-element {
  margin-bottom: 36px;
}
